.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .photo-grid__list {
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__list {
    gap: 16px;
  }
}
