.cover__subtitle {
  z-index: 1;
  max-width: 288px;
  margin: 0 auto;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    /* padding: 0 204px 0 204px; */
    font-size: 18px;
    line-height: 22px;
  }
}
