.header__lang-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-width: 62px;
  padding: 16px 16px 0 0;
}

@media screen and (min-width: 768px) {
  .header__lang-links {
    padding: 28px 24px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__lang-links {
    padding: 28px 48px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .header__lang-links {
    padding-bottom: 0;
  }
}
